@import url('https://fonts.googleapis.com/css?family=Monoton');

#letterContainer {
  width: 300px;
  margin: auto;
}

/*Neon*/
.letter {
  text-align: center;
  font-size: 7em;
  margin: 0;
}

a {
  text-decoration: none;
  transition: all 0.5s;
}

.letter a {
  color: #fff;
  font-family: Monoton;
  animation: neon 1.5s ease-in-out infinite alternate;
}

.letter a:hover {
  color: #FF1177;
  animation: none;
}



@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}


@media (max-width: 650px) {
  #container {
    width: 100%;
  }
  .letter {
    font-size: 3.5em;
  }
}